@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-area">
    <!-- Section: inner-header Start -->
    <section class="page-title divider layer-overlay overlay-theme-colored1-8 section-typo-light bg-img-center" data-tm-bg-img="~/images/bg/bg1.jpg">
        <div class="container pt-90 pb-90">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Kurs Detayları</h2>
                        <nav role="navigation" class="breadcrumb-trail breadcrumbs">
                            <div class="breadcrumbs">
                                <span class="trail-item trail-begin">
                                    <a href="#"><span>Ana Sayfa</span></a>
                                </span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item"><a href="#"><span>Sayfalar</span></a></span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item trail-end text-dark">Kurs Detayları</span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: inner-header End -->
    <!-- Section: Service details -->
    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="sidebar">
                            <div class="tm-sidebar-nav-menu-style2">
                                <div class="widget widget_nav_menu">
                                    <ul>
                                        <li><a href="~/Kurslar/Details">Aktif Öğrenme Sınıfı</a></li>
                                        <li class="active"><a href="~/Kurslar/Details">Kreş</a></li>
                                        <li><a href="~/Kurslar/Details">Çizim Sınıfı</a></li>
                                        <li><a href="~/Kurslar/Details">Matematik Sınıfı</a></li>
                                        <li><a href="~/Kurslar/Details">Bilim Sınıfı</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget_text text-center">
                                <div class="textwidget">
                                    <div class="section-typo-light bg-theme-colored1 mb-md-40 p-30 pt-40 pb-40">
                                        <img class="size-full wp-image-800 aligncenter" src="~/images/headphone-128.png" alt="" />
                                        <h4>Online Help!</h4>
                                        <h5>+(123) 456-78-90</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="widget widget-brochure-box clearfix">
                                <a class="brochure-box brochure-box-theme-colored1" href="#">
                                    <i class="far fa-file-word brochure-icon"></i>
                                    <h5 class="text">Download PDF</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <img alt="" src="~/images/bg/bg1.jpg" />
                        <h3 class="mt-20 mb-10">Aktif Öğrenme Sınıfı</h3>
                        <p class="lead">Çeşitli etkinlikler, görevler ve kaynaklar sunar.<span class="text-theme-colored1 font-weight-600">Edukids</span> Anaokullarındaki etkinlik ve aktivite sınıfları, çocukların çok yönlü bir şekilde gelişimini desteklemek amacıyla çeşitli faaliyetlere ev sahipliği yapar. <span class="text-theme-colored1 font-weight-600">porta</span>, çocukların gelişimini desteklemek amacıyla son derece kritik bir öneme sahiptir.</p>
                        <p>Resim yapma, el sanatları ve modelleme gibi etkinlikler, çocukların yaratıcılıklarını geliştirmelerine yardımcı olur. Bu etkinlikler, özgün düşünceyi teşvik eder ve özgüveni artırır.</p>
                        <h5>Kreş</h5>
                        <p>Modern müfredatımızı sevgi ve beceri ile uygulayabilen tecrübeli ekibimizin sınırlı sayıda olan kontenjanlarımız ile her bir çocuğun güçlü yanlarını destekleyebilmesi ve gelişim ihtiyaçlarına cevap verebilmesi başarımızın temel kaynağıdır.</p>
                        <div class="row mb-20 mt-20">
                            <div class="col-md-6 col-lg-4 mb-md-30"><img src="~/images/blog/1.jpg" alt=""></div>
                            <div class="col-md-6 col-lg-4 mb-md-30"><img src="~/images/blog/2.jpg" alt=""></div>
                            <div class="col-md-6 col-lg-4"><img src="~/images/blog/1.jpg" alt=""></div>
                        </div>
                        <h5>Çizim Sınıfı</h5>
                        <p>Bu sınıf, anaokulu öğrencileri için eğlenceli ve interaktif bir çizim deneyimi sunar.</p>
                        <h5>Matematik Sınıfı</h5>
                        <p>Okul öncesi dönem çocuklarının matematiksel düşünmelerinin temelinde sezgilerinin de yer aldığı ileri sürülmektedir.</p>
                        <h5>Bilim Sınıfı</h5>
                        <p>Okul öncesi dönemde çocukların merakını gözlem, deney ve sorularla bilimle buluşturun.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
