@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start main-content -->
<div class="main-content-area">
    <!-- Section: inner-header Start -->
    <section class="page-title divider layer-overlay overlay-theme-colored1-8 section-typo-light bg-img-center" data-tm-bg-img="~/images/bg/bg1.jpg">
        <div class="container pt-90 pb-90">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Kurslar </h2>
                        <nav role="navigation" class="breadcrumb-trail breadcrumbs">
                            <div class="breadcrumbs">
                                <span class="trail-item trail-begin">
                                    <a href="#"><span>Ana Sayfa</span></a>
                                </span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item"><a href="#"><span>Sayfalar</span></a></span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item trail-end text-dark">Kurs Tablosu</span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: inner-header End -->
    <!-- Start Service -->
    <section class=" z-index-1">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="tm-sc-services services-style-current-theme text-center mb-lg-50">
                            <div class="tm-service">
                                <div class="thumb">
                                    <img class="rounded-circle" src="~/images/service/1.jpg" alt="Image">
                                    <div class="service-icon">
                                        <img src="~/images/icon/1.png" alt="">
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h4 class="title"><a href="~/Kurslar/Details">Kreş</a></h4>
                                    <p class="">Bebek Bakımı ve Anaokulu olarak kaliteli bir hizmet sunmak için çalışmaktayız.</p>
                                    <ul class="service-info-list">
                                        <li><span class="font-weight-800 text-theme-colored3">Yaş:</span> 2-4 Yaş</li>
                                        <li><span class="font-weight-800 text-theme-colored3">Saat:</span> 9.00 - 11.00 </li>
                                        <li><span class="font-weight-800 text-theme-colored3">Fiyat:</span> $30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="tm-sc-services services-style-current-theme text-center mb-sm-50">
                            <div class="tm-service">
                                <div class="thumb">
                                    <img class="rounded-circle" src="~/images/service/2.jpg" alt="Image">
                                    <div class="service-icon bg-theme-colored3">
                                        <img src="~/images/icon/2.png" alt="">
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h4 class="title"><a href="~/Kurslar/Details">Aktif Öğrenme Sınıfı</a></h4>
                                    <p class="">Bu sınıf, öğrencilerin etkileşimli bir şekilde öğrenmelerini sağlar.</p>
                                    <ul class="service-info-list">
                                        <li><span class="font-weight-800 text-theme-colored3">Yaş:</span> 2-4 Yaş</li>
                                        <li><span class="font-weight-800 text-theme-colored3">Saat:</span> 9.00 - 11.00 </li>
                                        <li><span class="font-weight-800 text-theme-colored3">Fiyat:</span> $30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="tm-sc-services services-style-current-theme text-center">
                            <div class="tm-service">
                                <div class="thumb">
                                    <img class="rounded-circle" src="~/images/service/3.jpg" alt="Image">
                                    <div class="service-icon bg-theme-colored4">
                                        <img src="~/images/icon/1.png" alt="">
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h4 class="title"><a href="~/Kurslar/Details">Çizim Sınıfı</a></h4>
                                    <p class="">Bu sınıf, anaokulu öğrencileri için eğlenceli ve interaktif bir çizim deneyimi sunar.</p>
                                    <ul class="service-info-list">
                                        <li><span class="font-weight-800 text-theme-colored3">Yaş:</span> 2-4 Yaş</li>
                                        <li><span class="font-weight-800 text-theme-colored3">Saat:</span> 9.00 - 11.00 </li>
                                        <li><span class="font-weight-800 text-theme-colored3">Fiyat:</span> $30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-scissors1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-bottom="12%" data-tm-left="2%"></span>
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-jar1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-top="8%" data-tm-right="3%"></span>
        </div>
    </section>
    <!-- End Service -->
</div>
<!-- end main-content -->