@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-area">
    <!-- Section: inner-header Start -->
    <section class="page-title divider layer-overlay overlay-theme-colored1-8 section-typo-light bg-img-center" data-tm-bg-img="~/images/bg/bg1.jpg">
        <div class="container pt-90 pb-90">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Öğretmenler</h2>
                        <nav role="navigation" class="breadcrumb-trail breadcrumbs">
                            <div class="breadcrumbs">
                                <span class="trail-item trail-begin">
                                    <a href="#"><span>Ana Sayfa</span></a>
                                </span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item"><a href="#"><span>Sayfalar</span></a></span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item trail-end text-dark">Öğretmen Listesi</span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: inner-header End -->
    <!-- Start Teams -->
    <section class="">
        <div class="container pb-70">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="tm-sc-staff staff-current-theme text-center mb-40">
                            <div class="tm-staff">
                                <div class="thumb mb-20">
                                    <img class="rounded-circle" src="~/images/team/team1.jpg" alt="Image">
                                </div>
                                <div class="details text-center">
                                    <h4 class="title mt-0 mb-0"><a href="page-team-details.html">Jessica Martin</a></h4>
                                    <p class="designationfont-weight-500 mb-15">Teacher</p>
                                    <ul class="styled-icons icon-md icon-gray icon-circled icon-theme-colored3">
                                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="tm-sc-staff staff-current-theme text-center mb-40">
                            <div class="tm-staff">
                                <div class="thumb mb-20">
                                    <img class="rounded-circle" src="~/images/team/team2.jpg" alt="Image">
                                </div>
                                <div class="details text-center">
                                    <h4 class="title mt-0 mb-0"><a href="page-team-details.html">Martin Albert</a></h4>
                                    <p class="designation font-weight-500 mb-15">Teacher</p>
                                    <ul class="styled-icons icon-md icon-gray icon-circled icon-theme-colored3">
                                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="tm-sc-staff staff-current-theme text-center mb-40">
                            <div class="tm-staff">
                                <div class="thumb mb-20">
                                    <img class="rounded-circle" src="~/images/team/team4.jpg" alt="Image">
                                </div>
                                <div class="details text-center">
                                    <h4 class="title mt-0 mb-0"><a href="page-team-details.html">Sonica Maylor</a></h4>
                                    <p class="designation font-weight-500 mb-15">Teacher</p>
                                    <ul class="styled-icons icon-md icon-gray icon-circled icon-theme-colored3">
                                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="tm-sc-staff staff-current-theme text-center mb-md-40">
                            <div class="tm-staff">
                                <div class="thumb mb-20">
                                    <img class="rounded-circle" src="~/images/team/team4.jpg" alt="Image">
                                </div>
                                <div class="details text-center">
                                    <h4 class="title mt-0 mb-0"><a href="page-team-details.html">Devid Martin</a></h4>
                                    <p class="designation font-weight-500 mb-15">Teacher</p>
                                    <ul class="styled-icons icon-md icon-gray icon-circled icon-theme-colored3">
                                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="tm-sc-staff staff-current-theme text-center mb-md-40">
                            <div class="tm-staff">
                                <div class="thumb mb-20">
                                    <img class="rounded-circle" src="~/images/team/team3.jpg" alt="Image">
                                </div>
                                <div class="details text-center">
                                    <h4 class="title mt-0 mb-0"><a href="page-team-details.html">Maylor Martin</a></h4>
                                    <p class="designation font-weight-500 mb-15">Teacher</p>
                                    <ul class="styled-icons icon-md icon-gray icon-circled icon-theme-colored3">
                                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="tm-sc-staff staff-current-theme text-center">
                            <div class="tm-staff">
                                <div class="thumb mb-20">
                                    <img class="rounded-circle" src="~/images/team/team1.jpg" alt="Image">
                                </div>
                                <div class="details text-center">
                                    <h4 class="title mt-0 mb-0"><a href="page-team-details.html">Albert Martin</a></h4>
                                    <p class="designation font-weight-500 mb-15">Teacher</p>
                                    <ul class="styled-icons icon-md icon-gray icon-circled icon-theme-colored3">
                                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Teams -->

</div>
