@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-area">
    <!-- Section: page title -->
    <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center" data-tm-bg-img="~/images/bg/bg1.jpg">
        <div class="container pt-50 pb-50">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title">Alışveriş Sepeti</h2>
                        <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
                            <div class="breadcrumbs">
                                <span><a href="#" rel="home">Ana Sayfa</a></span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span><a href="#">Sayfalar</a></span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="active">Sayfa Başlığı</span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered tbl-shopping-cart">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Photo</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="product-remove"><a title="Remove this item" class="remove" href="#">×</a></td>
                                        <td class="product-thumbnail"><a href="#"><img alt="product" src="~/images/shop/product.jpg"></a></td>
                                        <td class="product-name">
                                            <a href="shop-product-details.html">Winter Black Jacket</a>
                                            <ul class="variation">
                                                <li class="variation-size">Size: <span>Medium</span></li>
                                            </ul>
                                        </td>
                                        <td class="product-price"><span class="amount">$36.00</span></td>
                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input type="button" class="minus" value="-">
                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                                <input type="button" class="plus" value="+">
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">$36.00</span></td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="product-remove"><a title="Remove this item" class="remove" href="#">×</a></td>
                                        <td class="product-thumbnail"><a href="#"><img alt="product" src="~/images/shop/product.jpg"></a></td>
                                        <td class="product-name">
                                            <a href="shop-product-details.html">Swan Crop V-Neck Tee</a>
                                            <ul class="variation">
                                                <li class="variation-size">Size: <span>Small</span></li>
                                            </ul>
                                        </td>
                                        <td class="product-price"><span class="amount">$115.00</span></td>
                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input type="button" class="minus" value="-">
                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                                <input type="button" class="plus" value="+">
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">$115.00</span></td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="product-remove"><a title="Remove this item" class="remove" href="#">×</a></td>
                                        <td class="product-thumbnail"><a href="#"><img alt="product" src="~/images/shop/product.jpg"></a></td>
                                        <td class="product-name">
                                            <a href="shop-product-details.html">Blue Solid Casual Shirt</a>
                                            <ul class="variation">
                                                <li class="variation-size">Size: <span>Large</span></li>
                                            </ul>
                                        </td>
                                        <td class="product-price"><span class="amount">$68.00</span></td>
                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input type="button" class="minus" value="-">
                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                                <input type="button" class="plus" value="+">
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">$68.00</span></td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td colspan="3">
                                            <div class="form-inline coupon-form">
                                                <div class="coupon mb-3">
                                                    <input type="text" name="coupon_code" class="input-text form-control mr-1" id="coupon_code" value="" placeholder="Coupon code"> <button type="submit" class="button btn btn-theme-colored1" name="apply_coupon" value="Apply Coupon">Apply Coupon</button>
                                                </div>
                                            </div>
                                        </td>
                                        <td colspan="2">&nbsp;</td>
                                        <td><button type="button" class="-cart-update-btn btn btn-theme-colored2">Update Cart</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 mt-30">
                        <div class="row">
                            <div class="col-md-5">
                                <h4>Calculate Shipping</h4>
                                <form class="form" action="#">
                                    <div class="mb-3 mb-10">
                                        <select class="form-control">
                                            <option>Select Country</option>
                                            <option>Australia</option>
                                            <option>UK</option>
                                            <option>USA</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 mb-10">
                                        <input type="text" class="form-control" placeholder="State/country" value="">
                                    </div>
                                    <div class="mb-3 mb-10">
                                        <input type="text" class="form-control" placeholder="Postcod/zip" value="">
                                    </div>
                                    <div class="mb-3 mb-30">
                                        <button type="button" class="cart-update-total-button btn btn-theme-colored1">Update Totals</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                <h4>Cart Totals</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Cart Subtotal</td>
                                            <td>$180.00</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping and Handling</td>
                                            <td>$70.00</td>
                                        </tr>
                                        <tr>
                                            <td>Order Total</td>
                                            <td>$250.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="cart-checkout-button btn btn-theme-colored1" href="shop-checkout.html">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
