@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-area">
    <!-- Section: inner-header Start -->
    <section class="page-title divider layer-overlay overlay-theme-colored1-8 section-typo-light bg-img-center" data-tm-bg-img="~/images/bg/bg1.jpg">
        <div class="container pt-90 pb-90">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Haberler</h2>
                        <nav role="navigation" class="breadcrumb-trail breadcrumbs">
                            <div class="breadcrumbs">
                                <span class="trail-item trail-begin">
                                    <a href="#"><span>Ana Sayfa</span></a>
                                </span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item"><a href="#"><span>Sayfalar</span></a></span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item trail-end text-dark">Haberler</span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: inner-header End -->
    <!-- Section: News -->
    <section>
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="blog-style1-current-theme mb-lg-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb"> <img class="w-100" src="~/images/blog/1.jpg" alt="Image"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title mt-0"><a href="~/Blog/Details" rel="bookmark">Ebeveynliğin Zorlukları</a></h4>
                                    <div class="blog-meta mb-20">
                                        <span class="admin-type mr-10">
                                            By Admin /
                                        </span>
                                        <span class="comments-type">
                                            2 Comments /
                                        </span>
                                        <span class="comments-cat">
                                            Share
                                        </span>
                                    </div>
                                    <p class="entry-excerpt mb-0">Ebeveynlerin karşılaştığı en önemli zorluklardan biri yalnızlık ve izolasyondur.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="blog-style1-current-theme mb-lg-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb"> <img class="w-100" src="~/images/blog/2.jpg" alt="Image"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title mt-0"><a href="~/Blog/Details" rel="bookmark">Çocuk Bakımı</a></h4>
                                    <div class="blog-meta mb-20">
                                        <span class="admin-type mr-10">
                                            By Admin /
                                        </span>
                                        <span class="comments-type">
                                            2 Comments /
                                        </span>
                                        <span class="comments-cat">
                                            Share
                                        </span>
                                    </div>
                                    <p class="entry-excerpt mb-0">Çocuk bakımı, çocuk gelişimi'nin önemli bir bileşenidir.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="blog-style1-current-theme mb-lg-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb"> <img class="w-100" src="~/images/blog/1.jpg" alt="Image"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title mt-0"><a href="~/Blog/Details" rel="bookmark">Ebeveynliğin Zorlukları</a></h4>
                                    <div class="blog-meta mb-20">
                                        <span class="admin-type mr-10">
                                            By Admin /
                                        </span>
                                        <span class="comments-type">
                                            2 Comments /
                                        </span>
                                        <span class="comments-cat">
                                            Share
                                        </span>
                                    </div>
                                    <p class="entry-excerpt mb-0">Bunalmış hissetmek, birçok ebeveynin karşılaştığı bir diğer yaygın zorluktur.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-letter-r.png" data-tm-opacity="1" data-tm-width="110" data-tm-height="110" data-tm-top="5%" data-tm-left="5%"></span>
            <span class="floating-object-2 tm-animation-scaling z-index--1" data-tm-bg-img="~/images/objects/object-bulb.png" data-tm-opacity="1" data-tm-width="210" data-tm-height="210" data-tm-top="0" data-tm-right="3%"></span>
            <span class="floating-object-2 tm-animation-scaling z-index--1" data-tm-bg-img="~/images/objects/object-plus.png" data-tm-opacity="1" data-tm-width="210" data-tm-height="210" data-tm-bottom="12%" data-tm-left="2%"></span>
        </div>
    </section>
    <!-- End News -->
</div>
