@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-area">
    <!-- Section: inner-header Start -->
    <section class="page-title divider layer-overlay overlay-theme-colored1-8 section-typo-light bg-img-center" data-tm-bg-img="~/images/bg/bg1.jpg">
        <div class="container pt-90 pb-90">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Hakkımızda</h2>
                        <nav role="navigation" class="breadcrumb-trail breadcrumbs">
                            <div class="breadcrumbs">
                                <span class="trail-item trail-begin">
                                    <a href="#"><span>Ana Sayfa</span></a>
                                </span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item"><a href="#"><span>Sayfalar</span></a></span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item trail-end text-dark">Hakkımızda</span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: inner-header End -->
    <!-- Section: About -->
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-7 col-xl-7">
                    <div class="image-box mb-50">
                        <img src="~/images/about/about1.png" alt="">
                        <img class="floating-img1" src="~/images/about/about-floating-img1.png" alt="">
                    </div>
                </div>
                <div class="col-md-12 col-lg-5 col-xl-5">
                    <h2 class="text-theme-colored1">Kreş <span class="text-theme-colored2">ve Anaokulumuza</span> Hoş Geldiniz</h2>
                    <p class="lead">Çocukların sağlıklı bir ortamda öğrenmelerini ve gelişmelerini destekler.</p>
                    <div class="row mb-30">
                        <div class="col-lg-5 mb-sm-30">
                            <div class="box-hover-effect tm-sc-video-popup tm-sc-video-popup-button-over-image">
                                <div class="effect-wrapper">
                                    <div class="thumb">
                                        <img class="img-fullwidth" src="~/images/gallery/1.jpg" alt="~/images">
                                    </div>
                                    <div class="animated-css-play-button"><span class="play-icon"><i class="fa fa-play"></i></span></div>
                                    <a class="hover-link" data-lightbox-gallery="youtube-video" href="~/https://www.youtube.com/watch?v=xcJtL7QggTI" title=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="tm-sc-unordered-list list-style2 mt-md-30">
                                <ul>
                                    <li class="theme-colored-before">Kaliteli Hizmet Kullanıyoruz</li>
                                    <li class="theme-colored-before">Biz Profesyonel Öğretmeniz</li>
                                    <li class="theme-colored-before">En Güvenilir Okul</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p>Anaokulumuz, çocukların oyun yoluyla öğrenmelerini teşvik eden bir eğitim anlayışıyla hareket eder</p>
                    <a href="~/Sayfalar/Hakkimizda" class="about-btn btn btn-lg btn-dark btn-theme-colored2">Devamını Oku</a>
                </div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-spin z-index--1" data-tm-bg-img="~/images/objects/object-star3.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-top="16%" data-tm-left="6%"></span>
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-rocket1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-top="8%" data-tm-right="3%"></span>
        </div>
    </section>
    <!-- End About -->
    <!-- Start Service -->
    <section class="bg-silver-light z-index-1">
        <div class="container">
            <div class="section-title">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="tm-sc-section-title section-title text-center">
                            <div class="title-wrapper">
                                <h6>Program</h6>
                                <h2 class="title text-theme-colored1">Anaokulu Proğramı</h2>
                                <p>Aşağıdaki tablodan size uygun proğramı seçebilirsiniz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="tm-sc-services services-style-current-theme text-center mb-lg-50">
                            <div class="tm-service">
                                <div class="thumb">
                                    <img class="rounded-circle" src="~/images/service/1.jpg" alt="Image">
                                    <div class="service-icon">
                                        <img src="~/images/icon/1.png" alt="">
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h4 class="title"><a href="~/Kurslar/Details">Kreş</a></h4>
                                    <p class="">Bebek Bakımı ve Anaokulu olarak kaliteli bir hizmet sunmak için çalışmaktayız.</p>
                                    <ul class="service-info-list">
                                        <li><span class="font-weight-800 text-theme-colored3">Yaş:</span> 2-4 Yaş</li>
                                        <li><span class="font-weight-800 text-theme-colored3">Saat:</span> 9.00 - 11.00 </li>
                                        <li><span class="font-weight-800 text-theme-colored3">Fiyat:</span> $30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="tm-sc-services services-style-current-theme text-center mb-sm-50">
                            <div class="tm-service">
                                <div class="thumb">
                                    <img class="rounded-circle" src="~/images/service/2.jpg" alt="Image">
                                    <div class="service-icon bg-theme-colored3">
                                        <img src="~/images/icon/2.png" alt="">
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h4 class="title"><a href="~/Kurslar/Details">Aktif Öğrenme Sınıfı</a></h4>
                                    <p class="">Bu sınıf, öğrencilerin etkileşimli bir şekilde öğrenmelerini sağlar.</p>
                                    <ul class="service-info-list">
                                        <li><span class="font-weight-800 text-theme-colored3">Yaş:</span> 2-4 Yaş</li>
                                        <li><span class="font-weight-800 text-theme-colored3">Saat:</span> 9.00 - 11.00 </li>
                                        <li><span class="font-weight-800 text-theme-colored3">Fiyat:</span> $30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="tm-sc-services services-style-current-theme text-center">
                            <div class="tm-service">
                                <div class="thumb">
                                    <img class="rounded-circle" src="~/images/service/3.jpg" alt="Image">
                                    <div class="service-icon bg-theme-colored4">
                                        <img src="~/images/icon/1.png" alt="">
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h4 class="title"><a href="~/Kurslar/Details">Çizim Sınıfı</a></h4>
                                    <p class="">Bu sınıf, anaokulu öğrencileri için eğlenceli ve interaktif bir çizim deneyimi sunar.</p>
                                    <ul class="service-info-list">
                                        <li><span class="font-weight-800 text-theme-colored3">Yaş:</span> 2-4 Yaş</li>
                                        <li><span class="font-weight-800 text-theme-colored3">Saat:</span> 9.00 - 11.00 </li>
                                        <li><span class="font-weight-800 text-theme-colored3">Fiyat:</span> $30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-scissors1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-bottom="12%" data-tm-left="2%"></span>
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-jar1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-top="8%" data-tm-right="3%"></span>
        </div>
    </section>
    <!-- End Service -->
    <!-- Start Gallery -->
    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-lg-6">
                        <div class="tm-sc-section-title section-title text-center">
                            <div class="title-wrapper">
                                <h2 class="title text-theme-colored1">Fotoğraf Galerisi</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tm-sc-gallery tm-sc-gallery-grid gallery-style1-basic">
                            <!-- Isotope Gallery Grid -->
                            <div id="gallery-holder-618422" class="isotope-layout masonry grid-3 gutter-15 clearfix lightgallery-lightbox">
                                <div class="isotope-layout-inner">
                                    <div class="isotope-item isotope-item-sizer"></div>

                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat1">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/masonry-tiles-4col.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/1.jpg" data-src="~/images/gallery/1.jpg" title="Gallery 1" href="~/images/gallery/1.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 1" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat1 cat3">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/3.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/3.jpg" data-src="~/images/gallery/3.jpg" title="Gallery 3" href="~/images/gallery/3.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 3" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat2 cat3">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/masonry-tiles-3col-height.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/2.jpg" data-src="~/images/gallery/2.jpg" title="Gallery 2" href="~/images/gallery/2.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 2" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat2 cat3">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/masonry-3col.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/2.jpg" data-src="~/images/gallery/2.jpg" title="Gallery 2" href="~/images/gallery/2.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 2" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat2 cat3">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/2.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/2.jpg" data-src="~/images/gallery/2.jpg" title="Gallery 2" href="~/images/gallery/2.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 2" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat1 cat2">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/1.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/1.jpg" data-src="~/images/gallery/1.jpg" title="Gallery 1" href="~/images/gallery/1.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 1" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->

                                </div>
                            </div>
                            <!-- End Isotope Gallery Grid -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-flicker z-index--1" data-tm-bg-img="~/images/objects/object-long-arrow1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-top="6%" data-tm-left="0"></span>
            <span class="floating-object-2 tm-animation-flicker z-index--1" data-tm-bg-img="~/images/objects/object-clip1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-bottom="6%" data-tm-left="0"></span>
            <span class="floating-object-2 tm-animation-scaling z-index--1" data-tm-bg-img="~/images/objects/object-plane1.png" data-tm-opacity="0.8" data-tm-width="230" data-tm-height="210" data-tm-top="0" data-tm-right="3%"></span>
        </div>
    </section>
    <!-- End Gallery -->

</div>
