@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-area">
    <!-- Section: inner-header Start -->
    <section class="page-title divider layer-overlay overlay-theme-colored1-8 section-typo-light bg-img-center" data-tm-bg-img="~/images/bg/bg1.jpg">
        <div class="container pt-90 pb-90">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Referanslar</h2>
                        <nav role="navigation" class="breadcrumb-trail breadcrumbs">
                            <div class="breadcrumbs">
                                <span class="trail-item trail-begin">
                                    <a href="#"><span>Ana Sayfa</span></a>
                                </span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item"><a href="#"><span>Sayfalar</span></a></span>
                                <span><i class="fa fa-angle-right"></i></span>
                                <span class="trail-item trail-end text-dark">Referans</span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: inner-header End -->
    <!-- Start Testimonials -->
    <section class="z-index-1">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="testimonial-current-style1 testimonial-theme-colored1 mb-lg-60">
                            <div class="testimonial-upper">
                                <div class="quote-icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="author-text"> I feel very happy and be proud to connect with this industry. I presume this is a very productive and professional very good luck & success for this industry</div>
                            </div>
                            <div class="d-flex align-items-center author-info clearfix ml-30">
                                <div class="author-thumb mr-15">
                                    <img class="rounded-circle" src="~/images/testimonials/s1.jpg" alt="">
                                </div>
                                <div class="author-detials">
                                    <h5 class="name m-0">Tom Johan,</h5>
                                    <h6 class="job-position font-weight-400 m-0">Developer</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="testimonial-current-style1 mb-lg-60">
                            <div class="testimonial-upper">
                                <div class="quote-icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="author-text"> I feel very happy and be proud to connect with this industry. I presume this is a very productive and professional very good luck & success for this industry</div>
                            </div>
                            <div class="d-flex align-items-center author-info clearfix ml-30">
                                <div class="author-thumb mr-15">
                                    <img class="rounded-circle" src="~/images/testimonials/s2.jpg" alt="">
                                </div>
                                <div class="author-detials">
                                    <h5 class="name m-0">Alina Grace,</h5>
                                    <h6 class="job-position font-weight-400 m-0">Developer</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="testimonial-current-style1 testimonial-theme-colored3 mb-lg-60">
                            <div class="testimonial-upper">
                                <div class="quote-icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="author-text"> I feel very happy and be proud to connect with this industry. I presume this is a very productive and professional very good luck & success for this industry</div>
                            </div>
                            <div class="d-flex align-items-center author-info clearfix ml-30">
                                <div class="author-thumb mr-15">
                                    <img class="rounded-circle" src="~/images/testimonials/s3.jpg" alt="">
                                </div>
                                <div class="author-detials">
                                    <h5 class="name m-0">Jim Drow,</h5>
                                    <h6 class="job-position font-weight-400 m-0">Developer</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonials -->
</div>
<!-- end main-content -->
