@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-area">

    <!-- Section: home Start -->
    <section id="home" class="bg-pos-center-center home-wave-object" data-tm-bg-img="/images/bg/bg1.jpg">
        <div class="container" data-tm-padding-top="180px" data-tm-padding-bottom="180px">
            <div class="row">
                <div class="col-xl-6">
                    <div class="home-banner">
                        <div class="banner-inner">
                            <span class="text-white">Special Kindergarten</span>
                            <h2 class="text-white">Best Children <br> Kindergarten</h2>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-floating" data-tm-bg-img="~/images/objects/home-object1.png" data-tm-opacity="0.8" data-tm-width="115" data-tm-height="115" data-tm-top="8%" data-tm-left="10%"></span>
            <span class="floating-object-2 tm-animation-floating" data-tm-bg-img="~/images/objects/home-object2.png" data-tm-opacity="0.8" data-tm-width="140" data-tm-height="150" data-tm-top="15%" data-tm-right="42%"></span>
            <span class="floating-object-2 tm-animation-floating" data-tm-bg-img="~/images/objects/home-object3.png" data-tm-opacity="0.8" data-tm-width="150" data-tm-height="165" data-tm-top="55%" data-tm-right="45%"></span>
        </div>
    </section>
    <!-- Section: home End -->
    <!-- Start Service -->
    <section class="bg-theme-coloredd2 z-index-1">
        <div class="container pt-0">
            <div class="section-title">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-lg-6">
                        <div class="tm-sc-section-title section-title text-center">
                            <div class="title-wrapper">
                                <h6 class="text-white">Program</h6>
                                <h2 class="title text-theme-colored1">Anaokulu Programı</h2>
                                <p class="">Aşağıdaki tablodan size uygun proğramı seçebilirsiniz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="tm-sc-services services-style-current-theme text-center mb-lg-50">
                            <div class="tm-service">
                                <div class="thumb">
                                    <img class="rounded-circle" src="~/images/service/1.jpg" alt="Image">
                                    <div class="service-icon">
                                        <img src="~/images/icon/1.png" alt="">
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h4 class="title"><a href="~/Kurslar/Details">Kreş</a></h4>
                                    <p class="">Bebek Bakımı ve Anaokulu olarak kaliteli bir hizmet sunmak için çalışmaktayız.</p>
                                    <ul class="service-info-list">
                                        <li><span class="font-weight-800 text-theme-colored3">Yaş:</span> 2-4 Yaş</li>
                                        <li><span class="font-weight-800 text-theme-colored3">Saat:</span> 9.00 - 11.00 </li>
                                        <li><span class="font-weight-800 text-theme-colored3">Fiyat:</span> $30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="tm-sc-services services-style-current-theme text-center mb-sm-50">
                            <div class="tm-service">
                                <div class="thumb">
                                    <img class="rounded-circle" src="~/images/service/2.jpg" alt="Image">
                                    <div class="service-icon bg-theme-colored3">
                                        <img src="~/images/icon/2.png" alt="">
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h4 class="title"><a href="~/Kurslar/Details">Aktif Öğrenme Sınıfı</a></h4>
                                    <p class="">Bu sınıf, öğrencilerin etkileşimli bir şekilde öğrenmelerini sağlar.</p>
                                    <ul class="service-info-list">
                                        <li><span class="font-weight-800 text-theme-colored3">Yaş:</span> 2-4 Yaş</li>
                                        <li><span class="font-weight-800 text-theme-colored3">saat:</span> 9.00 - 11.00 </li>
                                        <li><span class="font-weight-800 text-theme-colored3">Fiyat:</span> $30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="tm-sc-services services-style-current-theme text-center">
                            <div class="tm-service">
                                <div class="thumb">
                                    <img class="rounded-circle" src="~/images/service/3.jpg" alt="Image">
                                    <div class="service-icon bg-theme-colored4">
                                        <img src="~/images/icon/1.png" alt="">
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h4 class="title"><a href="~/Kurslar/Details">Çizim</a></h4>
                                    <p class="">Bu sınıf, anaokulu öğrencileri için eğlenceli ve interaktif bir çizim deneyimi sunar.</p>
                                    <ul class="service-info-list">
                                        <li><span class="font-weight-800 text-theme-colored3">Yaş:</span> 2-4 Yaş</li>
                                        <li><span class="font-weight-800 text-theme-colored3">Saat:</span> 9.00 - 11.00 </li>
                                        <li><span class="font-weight-800 text-theme-colored3">Fiyat:</span> $30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-scissors1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-bottom="12%" data-tm-left="2%"></span>
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-jar1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-top="8%" data-tm-right="3%"></span>
        </div>
    </section>
    <!-- End Service -->
    <!-- Start Why Choose Us -->
    <section>
        <div class="container-fluid p-0">
            <div class="tm-sc-custom-columns-holder tm-cc-two-columns tm-cc-responsive-mode-1280">
                <div class="tm-sc-custom-columns-holder-item bg-theme-colored2" data-item-class="tm-custom-columns-12" data-1200-up="100px 10% 60px 28%" data-1199-down="100px 10% 60px 10%" data-991-down="100px 10% 60px 10%" data-767-down="100px 10% 60px 10%" data-575-down="100px 10% 60px 10%" data-tm-bg-img="~/images/bg/why-choose-bg1.png">
                    <div class="item-inner">
                        <div class="item-content tm-custom-columns-12">
                            <!-- Contact Form -->
                            <div class="why-choose-us-block">
                                <h6 class="mt-0 font-italic text-white"></h6>
                                <h2 class="text-theme-colored1 mb-40">Neden Bizi Seçmelisiniz?</h2>
                                <div class="why-choose-us-item">
                                    <div class="why-choose-us-img">
                                        <img src="~/images/objects/why-choose-icon1.png" alt="img">
                                    </div>
                                    <div class="why-choose-us-content">
                                        <h4 class="text-theme-colored4">Bilim Sınıfları</h4>
                                        <p class="text-white-f1">Okul öncesi dönemde çocukların merakını gözlem, deney ve sorularla bilimle buluşturur.</p>
                                    </div>
                                </div>
                                <div class="why-choose-us-item">
                                    <div class="why-choose-us-img">
                                        <img src="~/images/objects/why-choose-icon4.png" alt="img">
                                    </div>
                                    <div class="why-choose-us-content">
                                        <h4 class="text-theme-colored3">Tam Gün Eğitim</h4>
                                        <p class="text-white-f1">Çocukların sağlıklı bir ortamda öğrenmelerini ve gelişmelerini destekler.</p>
                                    </div>
                                </div>
                                <div class="why-choose-us-item">
                                    <div class="why-choose-us-img">
                                        <img src="~/images/objects/why-choose-icon3.png" alt="img">
                                    </div>
                                    <div class="why-choose-us-content">
                                        <h4 class="text-theme-colored1">Aktif Eğitim</h4>
                                        <p class="text-white-f1">Çeşitli etkinlikler, görevler ve kaynaklar sunar.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tm-sc-custom-columns-holder-item bg-img-left border-bottom-1px bg-silver-light" data-item-class="tm-custom-columns-11" data-1200-up="8% 24%  5% 8%" data-1199-down="0 10% 0 10%" data-991-down="0 10% 0 10%" data-767-down="0 10% 0 10%" data-575-down="0 10% 0 10%">
                    <div class="item-inner">
                        <div class="item-content tm-custom-columns-11">
                            <img class="mt-lg-100 mb-30 mb-sm-10" src="~/images/about/about6.jpg" alt="">
                            <h5 class="text-theme-colored2">Çocuk Eğitimi Hakkında</h5>
                            <h2 class="text-theme-colored1">Çocuğunuzun Büyümesi İçin Harika Bir Yer</h2>
                            <p>Önceliğimiz çocuklarınızın merkezde oynarken veya ders çalışırken güvende olmasını sağlamak olduğundan, eğitim faaliyetlerimizde yenilikçi metodoloji uyguluyor ve personelimizin becerilerini geliştirmesini teşvik ediyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Choose Us -->
    <!-- Start Gallery -->
    <section class="border-top-1px border-theme-colored1">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-lg-6">
                        <div class="tm-sc-section-title section-title text-center">
                            <div class="title-wrapper">
                                <h2 class="title text-theme-colored1">Fotoğraf Galerisi</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tm-sc-gallery tm-sc-gallery-grid gallery-style1-basic">
                            <!-- Isotope Gallery Grid -->
                            <div id="gallery-holder-618422" class="isotope-layout masonry grid-3 gutter-15 clearfix lightgallery-lightbox">
                                <div class="isotope-layout-inner">
                                    <div class="isotope-item isotope-item-sizer"></div>

                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat1">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/masonry-tiles-4col.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/1.jpg" data-src="~/images/gallery/1.jpg" title="Gallery 1" href="~/images/gallery/1.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 1" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat1 cat3">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/3.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/3.jpg" data-src="~/images/gallery/3.jpg" title="Gallery 3" href="~/images/gallery/3.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 3" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat2 cat3">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/masonry-tiles-3col-height.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/2.jpg" data-src="~/images/gallery/2.jpg" title="Gallery 2" href="~/images/gallery/2.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 2" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat2 cat3">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/masonry-3col.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/2.jpg" data-src="~/images/gallery/2.jpg" title="Gallery 2" href="~/images/gallery/2.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 2" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat2 cat3">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/2.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/2.jpg" data-src="~/images/gallery/2.jpg" title="Gallery 2" href="~/images/gallery/2.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 2" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->
                                    <!-- Isotope Item Start -->
                                    <div class="isotope-item cat1 cat2">
                                        <div class="isotope-item-inner">
                                            <div class="tm-gallery">
                                                <div class="tm-gallery-inner">
                                                    <div class="thumb">
                                                        <a href="#">
                                                            <img width="672" height="448" src="~/images/gallery/1.jpg" class="" alt="" />
                                                        </a>
                                                    </div>
                                                    <div class="tm-gallery-content-wrapper">
                                                        <div class="tm-gallery-content">
                                                            <div class="tm-gallery-content-inner">
                                                                <div class="icons-holder-inner">
                                                                    <div class="styled-icons icon-lg icon-dark icon-circled icon-theme-colored1">
                                                                        <a class="lightgallery-trigger styled-icons-item" data-exthumbimage="~/images/gallery/1.jpg" data-src="~/images/gallery/1.jpg" title="Gallery 1" href="~/images/gallery/1.jpg"><i class="fa fa-plus"></i></a>
                                                                        <a class="styled-icons-item" title="Gallery 1" href="#"><i class="fa fa-link"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Isotope Item End -->

                                </div>
                            </div>
                            <!-- End Isotope Gallery Grid -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-flicker z-index--1" data-tm-bg-img="~/images/objects/object-long-arrow1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-top="6%" data-tm-left="0"></span>
            <span class="floating-object-2 tm-animation-flicker z-index--1" data-tm-bg-img="~/images/objects/object-clip1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-bottom="6%" data-tm-left="0"></span>
            <span class="floating-object-2 tm-animation-scaling z-index--1" data-tm-bg-img="~/images/objects/object-plane1.png" data-tm-opacity="0.8" data-tm-width="230" data-tm-height="210" data-tm-top="0" data-tm-right="3%"></span>
        </div>
    </section>
    <!-- End Gallery -->
    <!-- Start Video Popup -->
    <section class="bg-theme-colored2" data-tm-bg-img="~/images/bg/object-bg1.png">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-xl-8">
                        <div class="video-block text-center mb-0">
                            <div class="cp-video-divider section-typo-light">
                                <div class="tm-sc-video-popup video-popup-current-style1 box-hover-effect play-video-button">
                                    <div class="effect-wrapper">
                                        <div class="icon">
                                            <i class="fa fa-play"></i>
                                        </div>
                                        <div class="video-button-text"></div>
                                        <a class="hover-link" data-lightbox-gallery="youtube-video" href="https://www.youtube.com/mcvqOUtcAJg" title=""></a>
                                    </div>
                                </div>
                            </div>
                            <h2 class="text-white popup-video-title" data-tm-font-size="3.8rem">Kipso one & only mission is to extend your knowledge base</h2>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Video Popup -->
    <!-- Start Events -->
    <section>
        <div class="container">
            <div class="section-title">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="tm-sc-section-title section-title text-center">
                            <div class="title-wrapper">
                                <h6>Etkinlikler</h6>
                                <h2 class="title text-theme-colored1">Yaklaşan Etkinlikler</h2>
                                <p>Yaklaşan etkinlikleri aşağıdaki tablodan takip edebilirsiniz</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="upcoming-events-current-style1">
                            <div class="event-item bg-theme-colored1 p-sm-30">
                                <ul class="event-info-list text-white">
                                    <li><span class="font-weight-800">Yaş:</span> 2-4 Yaş</li>
                                    <li><span class="font-weight-600">Saat:</span> 9.00 - 11.00 </li>
                                    <li><span class="font-weight-600">Fiyat:</span> $30</li>
                                </ul>
                                <h4 class="event-title text-white"><a href="~/Sayfalar/Detaylar">Doğum Günü Partisi</a></h4>
                                <a href="~/Sayfalar/Detaylar">
                                    <div class="event-arrows">
                                        <img class="image1" src="~/images/objects/event-arrow1.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="event-item bg-theme-colored3 p-sm-30">
                                <ul class="event-info-list text-white">
                                    <li><span class="font-weight-800">Yaş:</span> 4-6 Yaş</li>
                                    <li><span class="font-weight-600">Saat:</span> 11.00 - 12.00 </li>
                                    <li><span class="font-weight-600">Fiyat:</span> $50</li>
                                </ul>
                                <h4 class="event-title text-white"><a href="~/Sayfalar/Detaylar">Yeni Kayıt Tanışması</a></h4>
                                <a href="~/Sayfalar/Detaylar">
                                    <div class="event-arrows">
                                        <img class="image1" src="~/images/objects/event-arrow1.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="event-item bg-theme-colored4 p-sm-30">
                                <ul class="event-info-list text-white">
                                    <li><span class="font-weight-800">Yaş:</span> 6-9 Yaş</li>
                                    <li><span class="font-weight-600">Saat:</span> 9.00 - 11.00 </li>
                                    <li><span class="font-weight-600">Fiyat:</span> $80</li>
                                </ul>
                                <h4 class="event-title text-white"><a href="~/Sayfalar/Detaylar">Sanat Galerisi</a></h4>
                                <a href="~/Sayfalar/Detaylar">
                                    <div class="event-arrows">
                                        <img class="image1" src="~/images/objects/event-arrow1.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <img src="~/images/photos/events-img1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-person1.png" data-tm-opacity="1" data-tm-width="305" data-tm-height="335" data-tm-top="10%" data-tm-left="-26px"></span>
            <span class="floating-object-2 tm-animation-scaling z-index--1" data-tm-bg-img="~/images/objects/object-star1.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-top="0" data-tm-right="3%"></span>
            <span class="floating-object-2 tm-animation-scaling z-index--1" data-tm-bg-img="~/images/objects/object-star2.png" data-tm-opacity="0.8" data-tm-width="210" data-tm-height="210" data-tm-top="15%" data-tm-right="36%"></span>
        </div>
    </section>
    <!-- End Events -->
    <!-- Start Teams -->
    <section class="bg-theme-colored2" data-tm-bg-img="~/images/bg/object-bg2.png">
        <div class="container">
            <div class="section-title">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="tm-sc-section-title section-title text-center">
                            <div class="title-wrapper">
                                <h6 class="text-white">Kadromuz</h6>
                                <h2 class="title text-theme-colored1">Öğretmenlerimiz</h2>
                                <p class="text-white">Deneyimli ve uzman öğretmenlerden oluşan bir ekibe sahibiz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="tm-sc-staff staff-current-theme text-center mb-30">
                            <div class="tm-staff">
                                <div class="thumb mb-20">
                                    <img class="rounded-circle" src="~/images/team/team1.jpg" alt="Image">
                                </div>
                                <div class="details text-center">
                                    <h4 class="title text-white mt-0 mb-0"><a href="page-team-details.html">Jessica Martin</a></h4>
                                    <p class="designation text-white-f3 font-weight-500 mb-15">Teacher</p>
                                    <ul class="styled-icons icon-md icon-gray icon-circled icon-theme-colored3">
                                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="tm-sc-staff staff-current-theme text-center mb-30">
                            <div class="tm-staff">
                                <div class="thumb mb-20">
                                    <img class="rounded-circle" src="~/images/team/team2.jpg" alt="Image">
                                </div>
                                <div class="details text-center">
                                    <h4 class="title text-white mt-0 mb-0"><a href="page-team-details.html">Martin Albin</a></h4>
                                    <p class="designation text-white-f3 font-weight-500 mb-15">Teacher</p>
                                    <ul class="styled-icons icon-md icon-gray icon-circled icon-theme-colored3">
                                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="tm-sc-staff staff-current-theme text-center mb-30">
                            <div class="tm-staff">
                                <div class="thumb mb-20">
                                    <img class="rounded-circle" src="~/images/team/team3.jpg" alt="Image">
                                </div>
                                <div class="details text-center">
                                    <h4 class="title text-white mt-0 mb-0"><a href="page-team-details.html">Albart Rose</a></h4>
                                    <p class="designation text-white-f3 font-weight-500 mb-15">Teacher</p>
                                    <ul class="styled-icons icon-md icon-gray icon-circled icon-theme-colored3">
                                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
                                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Teams -->
    <!-- Section: Pricing Tables -->
    <section class="bg-silver-light">
        <div class="container pb-70">
            <div class="section-title">
                <div class="row justify-content-md-center">
                    <div class="col-md-8">
                        <div class="text-center mb-60">
                            <div class="tm-sc-section-title section-title">
                                <div class="title-wrapper">
                                    <h6 class="mt-0 letter-space-2 text-theme-colored1 sub-title-icon">Fiyatlandırma Tabloları</h6>
                                    <h2>Fiyatlandırma Planlarımıza Bakın</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="tm-sc-nav-tabs-pricing nav-tab-btn-button">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a class="active show" href="#pricing-navtab-button1" data-bs-toggle="tab">
                                <span class="title">Aylık</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="" href="#pricing-navtab-button2" data-bs-toggle="tab">
                                <span class="title">Yıllık</span> <span class="subtitle">10% Off</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fadeInLeft in active show" id="pricing-navtab-button1">
                            <div class="tab-pane-inner">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="tm-sc-pricing-table pricing-table-style-basic pricing-table-box-shadow pricing-table-hover-effect mb-30 text-center">
                                            <div class="pricing-table-inner-wrapper">
                                                <div class="pricing-table-inner">
                                                    <div class="pricing-table-head">
                                                        <img src="~/images/objects/feature-bg-object03.png" alt="~/images">
                                                        <div class="pricing-table-pricing">
                                                            <span class="pricing-table-prefix">$</span> <span class="pricing-table-price">45</span> <span class="pricing-table-separator">/</span>
                                                            <span class="pricing-table-postfix">Monthly</span>
                                                        </div>
                                                        <div class="pricing-table-title-area">
                                                            <h4 class="pricing-table-title">Basic Plan</h4>
                                                        </div>
                                                    </div>
                                                    <div class="pricing-table-content">
                                                        <ul class="">
                                                            <li>Extra features</li>
                                                            <li>Lifetime free support</li>
                                                            <li>Upgrate options</li>
                                                            <li>Full access</li>
                                                        </ul>
                                                    </div>
                                                    <div class="pricing-table-footer">
                                                        <div class="btn-view-details">
                                                            <a href="#" target="_self" class="btn btn-theme-colored2 btn-round">Select Plan</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="tm-sc-pricing-table pricing-table-style-basic pricing-table-box-shadow pricing-table-hover-effect mb-30 text-center">
                                            <div class="pricing-table-inner-wrapper">
                                                <div class="pricing-table-inner">
                                                    <div class="pricing-table-head">
                                                        <img src="~/images/objects/feature-bg-object02.png" alt="~/images">
                                                        <div class="pricing-table-pricing">
                                                            <span class="pricing-table-prefix">$</span> <span class="pricing-table-price">65</span> <span class="pricing-table-separator">/</span>
                                                            <span class="pricing-table-postfix">Monthly</span>
                                                        </div>
                                                        <div class="pricing-table-title-area">
                                                            <h4 class="pricing-table-title">Standard Plan</h4>
                                                        </div>
                                                    </div>
                                                    <div class="pricing-table-content">
                                                        <ul class="">
                                                            <li>Extra features</li>
                                                            <li>Lifetime free support</li>
                                                            <li>Upgrate options</li>
                                                            <li>Full access</li>
                                                        </ul>
                                                    </div>
                                                    <div class="pricing-table-footer">
                                                        <div class="btn-view-details">
                                                            <a href="#" target="_self" class="btn btn-theme-colored2 btn-round">Select Plan</a>
                                                        </div>
                                                    </div>
                                                    <span class="pricing-table-label">Popular</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="tm-sc-pricing-table pricing-table-style-basic pricing-table-box-shadow pricing-table-hover-effect mb-30 text-center">
                                            <div class="pricing-table-inner-wrapper">
                                                <div class="pricing-table-inner">
                                                    <div class="pricing-table-head">
                                                        <img src="~/images/objects/feature-bg-object01.png" alt="~/images">
                                                        <div class="pricing-table-pricing">
                                                            <span class="pricing-table-prefix">$</span> <span class="pricing-table-price">90</span> <span class="pricing-table-separator">/</span>
                                                            <span class="pricing-table-postfix">Monthly</span>
                                                        </div>
                                                        <div class="pricing-table-title-area">
                                                            <h4 class="pricing-table-title">Premimum Plan</h4>
                                                        </div>
                                                    </div>
                                                    <div class="pricing-table-content">
                                                        <ul class="">
                                                            <li>Extra features</li>
                                                            <li>Lifetime free support</li>
                                                            <li>Upgrate options</li>
                                                            <li>Full access</li>
                                                        </ul>
                                                    </div>
                                                    <div class="pricing-table-footer">
                                                        <div class="btn-view-details">
                                                            <a href="#" target="_self" class="btn btn-theme-colored2 btn-round">Select Plan</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fadeInRight" id="pricing-navtab-button2">
                            <div class="tab-pane-inner">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="tm-sc-pricing-table pricing-table-style-basic pricing-table-box-shadow pricing-table-hover-effect mb-30 text-center">
                                            <div class="pricing-table-inner-wrapper">
                                                <div class="pricing-table-inner">
                                                    <div class="pricing-table-head">
                                                        <img src="~/images/objects/feature-bg-object01.png" alt="~/images">
                                                        <div class="pricing-table-pricing">
                                                            <span class="pricing-table-prefix">$</span> <span class="pricing-table-price">120</span> <span class="pricing-table-separator">/</span>
                                                            <span class="pricing-table-postfix">Yearly</span>
                                                        </div>
                                                        <div class="pricing-table-title-area">
                                                            <h4 class="pricing-table-title">First Session</h4>
                                                        </div>
                                                    </div>
                                                    <div class="pricing-table-content">
                                                        <ul class="">
                                                            <li>Extra features</li>
                                                            <li>Lifetime free support</li>
                                                            <li>Upgrate options</li>
                                                            <li>Full access</li>
                                                        </ul>
                                                    </div>
                                                    <div class="pricing-table-footer">
                                                        <div class="btn-view-details">
                                                            <a href="#" target="_self" class="btn btn-theme-colored2 btn-round">Select Plan</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="tm-sc-pricing-table pricing-table-style-basic pricing-table-box-shadow pricing-table-hover-effect mb-30 text-center">
                                            <div class="pricing-table-inner-wrapper">
                                                <div class="pricing-table-inner">
                                                    <div class="pricing-table-head">
                                                        <img src="~/images/objects/feature-bg-object03.png" alt="~/images">
                                                        <div class="pricing-table-pricing">
                                                            <span class="pricing-table-prefix">$</span> <span class="pricing-table-price">199</span> <span class="pricing-table-separator">/</span>
                                                            <span class="pricing-table-postfix">Yearly</span>
                                                        </div>
                                                        <div class="pricing-table-title-area">
                                                            <h4 class="pricing-table-title">Second Session</h4>
                                                        </div>
                                                    </div>
                                                    <div class="pricing-table-content">
                                                        <ul class="">
                                                            <li>Extra features</li>
                                                            <li>Lifetime free support</li>
                                                            <li>Upgrate options</li>
                                                            <li>Full access</li>
                                                        </ul>
                                                    </div>
                                                    <div class="pricing-table-footer">
                                                        <div class="btn-view-details">
                                                            <a href="#" target="_self" class="btn btn-theme-colored2 btn-round">Select Plan</a>
                                                        </div>
                                                    </div>
                                                    <span class="pricing-table-label">Popular</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="tm-sc-pricing-table pricing-table-style-basic pricing-table-box-shadow pricing-table-hover-effect mb-30 text-center">
                                            <div class="pricing-table-inner-wrapper">
                                                <div class="pricing-table-inner">
                                                    <div class="pricing-table-head">
                                                        <img src="~/images/objects/feature-bg-object02.png" alt="~/images">
                                                        <div class="pricing-table-pricing">
                                                            <span class="pricing-table-prefix">$</span> <span class="pricing-table-price">299</span> <span class="pricing-table-separator">/</span>
                                                            <span class="pricing-table-postfix">Yearly</span>
                                                        </div>
                                                        <div class="pricing-table-title-area">
                                                            <h4 class="pricing-table-title">Last Session</h4>
                                                        </div>
                                                    </div>
                                                    <div class="pricing-table-content">
                                                        <ul class="">
                                                            <li>Extra features</li>
                                                            <li>Lifetime free support</li>
                                                            <li>Upgrate options</li>
                                                            <li>Full access</li>
                                                        </ul>
                                                    </div>
                                                    <div class="pricing-table-footer">
                                                        <div class="btn-view-details">
                                                            <a href="#" target="_self" class="btn btn-theme-colored2 btn-round">Select Plan</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: News -->
    <section>
        <div class="container">
            <div class="section-title text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="tm-sc-section-title section-title">
                            <div class="title-wrapper">
                                <h6>Bloglar</h6>
                                <h2 class="title text-theme-colored1">Güncel Haberler</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="blog-style1-current-theme mb-lg-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb"> <img class="w-100" src="~/images/blog/1.jpg" alt="Image"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title mt-0"><a href="~/Blog/Details" rel="bookmark">Ebeveynliğin Zorlukları</a></h4>
                                    <div class="blog-meta mb-20">
                                        <span class="admin-type mr-10">
                                            By Admin /
                                        </span>
                                        <span class="comments-type">
                                            2 Comments /
                                        </span>
                                        <span class="comments-cat">
                                            Share
                                        </span>
                                    </div>
                                    <p class="entry-excerpt mb-0">Ebeveynlerin karşılaştığı en önemli zorluklardan biri yalnızlık ve izolasyondur.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="blog-style1-current-theme mb-lg-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb"> <img class="w-100" src="~/images/blog/2.jpg" alt="Image"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title mt-0"><a href="~/Blog/Details" rel="bookmark">Çocuk Bakımı</a></h4>
                                    <div class="blog-meta mb-20">
                                        <span class="admin-type mr-10">
                                            By Admin /
                                        </span>
                                        <span class="comments-type">
                                            2 Comments /
                                        </span>
                                        <span class="comments-cat">
                                            Share
                                        </span>
                                    </div>
                                    <p class="entry-excerpt mb-0">Çocuk bakımı, çocuk gelişimi'nin önemli bir bileşenidir.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="blog-style1-current-theme mb-lg-30">
                            <article class="post">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <div class="post-thumb-inner">
                                            <div class="thumb"> <img class="w-100" src="~/images/blog/1.jpg" alt="Image"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title mt-0"><a href="~/Blog/Details" rel="bookmark">Ebeveynliğin Zorlukları</a></h4>
                                    <div class="blog-meta mb-20">
                                        <span class="admin-type mr-10">
                                            By Admin /
                                        </span>
                                        <span class="comments-type">
                                            2 Comments /
                                        </span>
                                        <span class="comments-cat">
                                            Share
                                        </span>
                                    </div>
                                    <p class="entry-excerpt mb-0">21. yüzyılda ebeveyn olmak kolay bir iş değildir.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-floating-objects">
            <span class="floating-object-2 tm-animation-floating z-index--1" data-tm-bg-img="~/images/objects/object-letter-r.png" data-tm-opacity="1" data-tm-width="110" data-tm-height="110" data-tm-top="5%" data-tm-left="5%"></span>
            <span class="floating-object-2 tm-animation-scaling z-index--1" data-tm-bg-img="~/images/objects/object-bulb.png" data-tm-opacity="1" data-tm-width="210" data-tm-height="210" data-tm-top="0" data-tm-right="3%"></span>
            <span class="floating-object-2 tm-animation-scaling z-index--1" data-tm-bg-img="~/images/objects/object-plus.png" data-tm-opacity="1" data-tm-width="210" data-tm-height="210" data-tm-bottom="12%" data-tm-left="2%"></span>
        </div>
    </section>
    <!-- End News -->
</div>